body{
    background-color: #f4f2ec;
    background-image: url('../imagens/fundo.png');
    background-repeat: repeat-x;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#principal{
    width: 1080px;
    margin: 0 auto;
}
a:link, a:active, a:visited{
    color: #af670a;
    text-decoration: none;
}
#logo h1{
    float: left;
}
#logo a{
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    background-image: url('../imagens/logo.png');
    background-repeat: no-repeat;
    display: block;
}
header{
    padding: 15px 0;
    height: 55px;
}
nav ul{
    float: right;
    list-style: none;
}
nav ul li{
    float: left;
}
nav ul a{
    padding: 8px;
}
nav ul a:hover{
    text-decoration: underline;
    border-bottom: 1px solid #535858;
}
nav ul a:link{
    display: inline;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}
#conteudo{
    width: 710px;
    float: left;
    margin-bottom: 20px;
}
aside{
    width: 350px;
    float: right;
    background-color: white;
    margin-bottom: 20px;
}
section#visita{
    background-color: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}
h4{
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0px;
}
h3{
    color: #227115;
    font-size: 1em;
    margin-bottom: 15px;
    text-transform: uppercase;
}
input{
    height: 20px;
    background-color: white;
    border: none;
    font: 1em;
    width: 80px;
}
input.campo{
    border: 1px solid #ada484;
}
input.botao{
    background-color: #9b9271;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
}
fieldset{
    border: none;
}
legend{
    display: none;
}
#fotos h1{
    color: #86521a;
    font-size: 1.2em;
}
section#fotos{
    background-color: #9b9271;
}
#fotos img{
    margin-left: 2px;
    margin-top: 3px;
}
section#fotos a{
    display: block;
    background-image: url('../imagens/fundo-foto.png');
    background-repeat: no-repeat;
    float: left;
    padding: 17px 15px 17px 15px;
    margin:  10px 0 0 20px;
}
article#video{
    float: left;
    width: 310px;
    margin-left: 25px;
}
article#mapa{
    float: left;
    width: 310px;
    margin-left: 37px;
}
article#exposicoes{
    float: left;
    width: 310px;
    margin: 15px 0 0 25px;
}
article#historia{
    float: left;
    width: 310px;
    margin: 15px 0 0 37px;
}
footer{
    padding: 20px 0 30px 0;
    text-align: center;
    background-image: url('../imagens/fundo-rodape.png');
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    margin-top: 20px;
}
footer ul{
    position: absolute;
    left: 30%;
    list-style: none;
}
footer ul li{
    float: left;
}
footer ul a{
    padding: 8px;
}
footer ul a:hover{
    text-decoration: underline;
    border-bottom: 1px solid #535858;
}
footer ul a:link{
    display: inline;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}