.caixa{
    width: 400px;
    background-color: #dedede;
    background-image: url('../imagens/topo2.png');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
}
.caixa h2{
    padding: 10px 20px 0px 20px;
}
p.ultimo{
    padding: 10px 20px 0px 20px;
    background-image: url('../imagens/baixo2.png');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
}
